[submodule "kernel"]
	path = kernel
	url = http://github.com/tekimaki/kernel.git
[submodule "storage"]
	path = storage
	url = http://github.com/bitweaver/storage.git
[submodule "install"]
	path = install
	url = http://github.com/bitweaver/install.git
[submodule "temp"]
	path = temp
	url = http://github.com/bitweaver/temp.git
[submodule "util"]
	path = util
	url = http://github.com/bitweaver/util.git
[submodule "themes"]
	path = themes
	url = http://github.com/tekimaki/themes.git
[submodule "users"]
	path = users
	url = http://github.com/tekimaki/users.git
[submodule "languages"]
	path = languages
	url = http://github.com/bitweaver/languages.git
[submodule "liberty"]
	path = liberty
	url = http://github.com/tekimaki/liberty.git
[submodule "lcconfig"]
	path = lcconfig
	url = http://github.com/tekimaki/lcconfig.git
[submodule "styles/layouts/basic"]
	path = styles/layouts/basic
	url = http://github.com/bitweaver/style_basic.git
[submodule "styles/icons/tango"]
	path = styles/icons/tango
	url = http://github.com/bitweaver/iconstyle_tango.git
