[submodule "kernel"]
	path = kernel
	url = git@github.com:tekimaki/kernel.git
[submodule "storage"]
	path = storage
	url = git@github.com:bitweaver/storage.git
[submodule "install"]
	path = install
	url = git@github.com:bitweaver/install.git
[submodule "temp"]
	path = temp
	url = git@github.com:bitweaver/temp.git
[submodule "util"]
	path = util
	url = git@github.com:bitweaver/util.git
[submodule "themes"]
	path = themes
	url = git@github.com:tekimaki/themes.git
[submodule "users"]
	path = users
	url = git@github.com:tekimaki/users.git
[submodule "languages"]
	path = languages
	url = git@github.com:bitweaver/languages.git
[submodule "liberty"]
	path = liberty
	url = git@github.com:tekimaki/liberty.git
[submodule "lcconfig"]
	path = lcconfig
	url = git@github.com:tekimaki/lcconfig.git
[submodule "groups"]
	path = groups
	url = git@github.com:tekimaki/groups.git
[submodule "libertysecure"]
	path = libertysecure
	url = git@github.com:tekimaki/libertysecure.git
