[submodule "style/basic"]
	path = style/basic
	url = git@github.com:bitweaver/style_basic.git
[submodule "icon_styles/tango"]
	path = icon_styles/tango
	url = git@github.com:bitweaver/iconstyle_tango.git
[submodule "kernel"]
	path = kernel
	url = git@github.com:Tekimaki/kernel.git
[submodule "storage"]
	path = storage
	url = git@github.com:bitweaver/storage.git
[submodule "install"]
	path = install
	url = git@github.com:bitweaver/install.git
[submodule "temp"]
	path = temp
	url = git@github.com:bitweaver/temp.git
[submodule "util"]
	path = util
	url = git@github.com:bitweaver/util.git
[submodule "themes"]
	path = themes
	url = git@github.com:Tekimaki/themes.git
[submodule "users"]
	path = users
	url = git@github.com:Tekimaki/users.git
[submodule "languages"]
	path = languages
	url = git@github.com:bitweaver/languages.git
[submodule "liberty"]
	path = liberty
	url = git@github.com:Tekimaki/liberty.git
